@model StockPartViewModel

<div><strong>@Model.CompanyName</strong></div>
<div>@T["Recorded Date: {0}", Model.RecordedDate?.ToShortDateString()]</div>
<div>@T["Current Stock Price: {0}", Model.CurrentStockPrice]</div>
